<a href="https://colab.research.google.com/github/matrix1970/python1/blob/main/20210310_%EC%88%99%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
start = "용인"
end = "군산"
hour = 8
minute = 20
print(start,"에서",end,"(으)로 가는 ",hour,"시",minute,"분 고속버스입니다.")

용인 에서 군산 (으)로 가는  8 시 20 분 고속버스입니다.

In [3]:
a = b = c = 0
print("변수 a=",a,", b=",b,", c=",c,"으로 초기화 되었습니다.")

변수 a= 0 , b= 0 , c= 0 으로 초기화 되었습니다.

In [9]:
a,b = 68, 53
a, b = b, a
print("변수 a=",a,", b=",b,"의 값이 저장되어 있습니다.")

변수 a= 53 , b= 68 의 값이 저장되어 있습니다.

In [10]:
man = 25
woman = 15
print("남자:",man,"명, 여자:",woman,"명, 합계:",man+woman,"명")

남자: 25 명, 여자: 15 명, 합계: 40 명

In [12]:
std1, std2, std3 = 'kim', 'lee', 'yun'
std1, std2, std3 = std2, std3, std1
print("std1='",std1,"', std2='",std2,"', std3='",std3,"'",sep="")

std1='lee', std2='yun', std3='kim'